.addcard-main {
  display: grid;
  justify-items: center;
}

.addcard-form {
  background: var(--primary-color);
  color: black;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  padding: 10px;
  height: 60vh;
  min-width: 40vw;
  margin-top: 5vh;
}

.addcard-form textarea {
  min-height: 30px;
  max-height: 80px;
}

.addcard-form div {
  justify-self: center;
}

.addcard-form button {
  border-radius: 5px;
  background: white;
  border-color: var(--side-color);
}

.addcard-form button:hover {
  transform: scale(1.3);
}
