.question_card {
  position: relative;
  width: 30vw;
  min-height: 20vh;
  background-color: var(--primary-color);
  color: black;
  box-shadow: 5px 5px var(--side-color);
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
  padding: 40px;
  margin: 40px;
  word-wrap: break-word;
}

.question_card > button {
  border-color: var(--side-color);
  margin-top: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: white;
}

.answerbutton:active {
  background: var(--side-color);
}

.answerbutton:hover {
  transform: scale(1.3);
}

.answer {
  margin-top: 15px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.hashtags {
  position: absolute;
  bottom: 10px;
  left: 10px;
  max-width: 30vw;
}

.hashtags span {
  font-size: 16px;
  margin: 3px;
  padding: 0px 5px;
  border-radius: 6px;
  background-color: var(--side-color);
  border: none;
}

.icon {
  max-width: 30px;
  height: 40px;
  position: absolute;
  top: -20px;
  right: 10px;
}

.icon:hover {
  transform: scale(1.5);
  transition: 1s;
}