header {
  width: 100%;
  background-color: var(--tertiary-color);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header button {
  grid-column: 1;
  padding: 10px;
  width: 16vw;
  min-width: 90px;
  border-radius: 6px;
  background-color: var(--hover-color);
  border-color: var(--secondary-color);
  position: absolute;
  top: 35%;
  left: 10%;
}

header button:hover {
  transform: scale(1.5);
  background: var(--background-color);
  color: var(--element-color2);
}

h1 {
  grid-column: 2;
  color: var(--element-color);
  text-align: center;
  margin: 30px 0px;
}

@media only screen and (max-width: 1000px) {
  header button span {
    display: none;
  }
  header button:after {
    content: "Add Cards";
  }
}
