@import "header.css";
@import "cards.css";
@import "navbar.css";
@import "bookmarks.css";
@import "profile.css";

:root {
  --primary-color: #FFC7ED;
  --secondary-color: #7D8ABC;
  --tertiary-color: #304463;
  --side-color: lightpink;
  --element-color: #ffffff;
  --element-color2: black;
  --hover-color: lightblue;
  --background-color: #FFF8DB;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var( --background-color);
}

.dark {
  --primary-color: #FFF8DB;
  --secondary-color: #7D8ABC;
  --tertiary-color: #7D8ABC;
  --side-color: #7D8ABC;
  --element-color: black;
  --element-color2: #ffffff;
  --hover-color: lightblue;
  --background-color: #304463;
}