@import "cards.css";
@import "navbar.css";
@import "bookmarks.css";
@import "profile.css";

:root {
  --primary-color: #FFC7ED;
  --secondary-color: #7D8ABC;
  --tertiary-color: #304463;
  --side-color: lightpink;
  --element-color: #ffffff;
  --element-color2: black;
  --hover-color: lightblue;
  --background-color: #FFF8DB;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var( --background-color);
}

header {
  width: 100%;
}

h1 {
  background-color: var(--tertiary-color);
  color: var(--element-color);
  text-align: center;
  width: 100%;
  height: 80px;
  padding-top: 40px;
  margin-bottom: 20px;
}